
services:
  mongodb:
    image: mongo:latest
    container_name: event_management_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: event_management
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:


